<a href="#/schools">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit School</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <form ng-submit="updateSchool()" ng-init="getSchool()">
          <div class="form-group">
            <label>IMEI</label>
            <input type="text" class="form-control" ng-model="school.IMEI" placeholder="IMEI">
          </div>
          <div class="form-group">
            <label>EMIS</label>
            <input type="text" class="form-control" ng-model="school.EMIS" placeholder="EMIS">
          </div>
          <div class="form-group">
            <label>RequestData</label>
            <input type="text" class="form-control" ng-model="school.RequestData" placeholder="RequestData">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
